@font-face {
  font-family: 'ClashDisplayVariable Regular';
  src: url("../fonts/ClashDisplay/ClashDisplay-Regular.ttf") format("ttf"),
    url("../fonts/ClashDisplay/ClashDisplay-Regular.ttf") format("woff");

  font-weight: 400;
}

@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url("../fonts/ClashDisplay/ClashDisplay-Semibold.woff") format("ttf"),
    url("../fonts/ClashDisplay/ClashDisplay-Semibold.woff") format("woff");

  font-weight: 500;
}